$fontFamily: Palatino,
serif;
$backgroungColor: #E3E7E8;
$borderTopBottomColor: #ABABAB;
$colorRefLink: #ff6600;
$backgraundColorRefLink: #E3E7E8;
$backgroungPostDescriptionColor: #ffffff;
$h3Article: #5F7BA3;
$textColor: #656769;
$borderBottomPostDescriptionColor: #ABABAB;
$colorPostDescription: #ABABAB;
$colorH1: #ff6600;
$backgroungInputColor:#E3E7E8;
$colorBorderSendInput: #E3E7E8;
$colorSendButtom: #f7f9f9;