$fontFamily: Helvetica,
sans-serif;
$backgroungColor: #ffffff;
$colorNav: #5ACCF2;
$borderTopBottomColor: #9daab3;
$colorRefLink: #2fadda;
$backgraundColorRefLink: #ffffff;
$backgroungPostDescriptionColor: #E3E7E8;
$h3Article: #4096B3;
$textColor: #656769;
$borderBottomPostDescriptionColor: #818D91;
$colorPostDescription: #4B9462;
$colorH1: #33A0E8;
$backgroungInputColor:#ffffff;
$colorBorderSendInput: #ffffff;
$colorSendButtom: #f7f9f9;